# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
.terraform.tfstate.lock.info
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.auto.tfvars
*.auto.tfvars.json

# Secrets
.env
SECRETS.md

# Python
__pycache__/
*.pyc
.venv/

# Ansible
*.retry
ansible/inventory/hosts

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
